services:
  redis:
    image: redis:6
    networks:
      - dining-philosophers

  actor-service:
    build:
      context: ..
      dockerfile: ./DiningPhilosophers/Dockerfile
    image: dining-philosophers-dapr:latest
    environment:
      - TYPE=SERVICE
      - HOST_ARBITRATOR_ACTOR=true
      - NUMBER_OF_PHILOSOPHERS=10
      - HOST_PHILOSOPHER_PUBSUB=true
      - HOSTED_PHILOSOPHERS=0-9
    networks:
      - dining-philosophers

  actor-service-sidecar:
    image: "daprio/daprd:edge"
    command: [
      "./daprd",
      "--app-id", "philosopher-service",
      "--app-port", "3000",
      "--resources-path", "/components",
      "--placement-host-address", "placement:50006",
    ]
    volumes:
      - "./components:/components"
    network_mode: "service:actor-service"

  actor-client:
    image: dining-philosophers-dapr:latest
    pull_policy: never
    environment:
      - TYPE=CLIENT
    networks:
      - dining-philosophers
    depends_on:
      - actor-service

  actor-client-sidecar:
    image: "daprio/daprd:edge"
    command: [
      "./daprd",
      "--app-id", "philosopher-client",
      "--app-port", "3000",
      "--resources-path", "/components",
      "--placement-host-address", "placement:50006",
    ]
    volumes:
      - "./components:/components"
    network_mode: "service:actor-client"

  placement:
    image: "daprio/placement:edge"
    command: ["./placement", "--port", "50006"]
    networks:
      - dining-philosophers

networks:
  dining-philosophers: